<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>App-Layout Component</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="./app-layout.css"
    />
  </head>
  <body>
    <nav>Nav</nav>
    <menu>
      <button>New</button>
      <button>Reply</button>
      <button>Forward</button>
      <button>Mark Unread</button>
      <button>Trash</button>
    </menu>
    <section>
      <div class="email">EMAIL 1</div>
      <div class="email">EMAIL 2</div>
      <div class="email">EMAIL 3</div>
      <div class="email">EMAIL 4</div>
      <div class="email">EMAIL 5</div>
      <div class="email">EMAIL 6</div>
      <div class="email">EMAIL 7</div>
      <div class="email">EMAIL 8</div>
      <div class="email">EMAIL 9</div>
      <div class="email">EMAIL 10</div>
      <div class="email">EMAIL 11</div>
      <div class="email">EMAIL 12</div>
    </section>
    <main>Email View</main>
    <aside>Additional info</aside>
  </body>
</html>
