<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MY NOTES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" media="screen" href="mynotes.css" />
  </head>
  <body>
    <header class="mynotebook-header">
      <div class="mynotebook-header-left">
        <h1>MY NOTEBOOK</h1>
      </div>
      <nav class="mynotebook-header-right">
        <ul class="mynotebook-header-nav-list">
          <li><a href="mynotes.html">My Profile</a></li>
          <li><a href="mynotes.html">My Notes</a></li>
          <li><a href="#">Create Notes</a></li>
          <li><a href="#">Share Notes</a></li>
        </ul>
      </nav>
    </header>
    <section class="notes-container">
      <div class="topic-name">
        <h1>IPL Action:2022</h1>
      </div>

      <h2>Q.Who got the best price in IPL?</h2>
      <h2>Ans:Shiva Dasari</h2>
    </section>
  </body>
</html>
