<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MY NOTEBOOK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="mynotebook.css"
    />
  </head>
  <body>
    <section class="container grid grid--row-3 home">
      <h2 class="header-my">MY</h2>
      <h1 class="header-notebook">NOTEBOOK</h1>
      <nav class="notebook-links">
        <a href="mynotes.html">My Profile</a>
        <a href="mynotes.html">My Notes</a>
        <a href="#">Create Notes</a>
        <a href="#">Share Notes</a>
      </nav>
    </section>
  </body>
</html>
