<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>USer Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="./profile.css"
    />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body>
    <section class="container">
      <div class="profile grid grid-col-2">
        <div class="prfile-img">
          <img src="./img/shiva2.png" alt="" class="user-img" />
          <div class="user-basic-info">
            <h2 class="user-name">Dasari Shiva</h2>
            <ul class="user-cantacts">
              <li class="cantact-type">
                <ion-icon class="contact-icons" name="mail"></ion-icon>
                <span>dasarishiva1@gmail.com</span>
              </li>
              <li class="cantact-type">
                <ion-icon class="contact-icons" name="call"></ion-icon>
                <span>9493366706</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="profile-info"></div>
      </div>
    </section>
  </body>
</html>
