* {
  margin: 0;
  padding: 0;
  background-color: rgb(26, 26, 92);
}

.nithya-header {
  /* background-image: url(nithya-images/Cvr\ Nithya\ 20170210_083735.jpg); */
  margin-top: 1px;
  height: 400px;
  width: 100%;
  border: solid 2px rgb(11, 160, 230);
  border-radius: 50px 20px;
}

.nithya-header h1 {
  text-align: center;
  font-family: "Apple Chancery", "cursive";
}

.nithya-birthday-header {
  text-align: center;
  text-decoration: rgb(221, 213, 203);
  color: white;
}
