* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}
.container {
  width: 825px;
  margin: 50px auto;
  border: solid 5px black;
  line-height: 1.4;
}
.title-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f7f7f7;
  padding: 15px;
}

.title-product {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
}
.price-title {
  font-weight: bold;
  font-size: 35px;
}

button {
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  font-size: 20px;
  padding: 15px;
  /* width: 700px;
  height: 25px; */
  width: 100%;
  border: solid 5px black;
}
button:hover {
  color: black;
  background-color: white;
}
.free-shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(61, 57, 57);
  margin-bottom: 20px;
}
.more-info:link {
  color: black;
  margin-bottom: 20px;
}

.more-info:hover {
  color: black;
}
ul {
  margin-left: 21px;
}
.details-list li {
  margin-bottom: 10px;
}
