* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}
.container {
  width: 825px;
  margin: 50px auto;
  border: solid 5px black;
  line-height: 1.4;
  position: relative;
}
.title-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f7f7f7;
  padding: 15px;
}
article {
  /* position: relative; */
}
.title-product {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
}
.price-title {
  font-weight: bold;
  font-size: 35px;
  float: left;
}
.hero-content-one {
  clear: both;
}
button {
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  font-size: 20px;
  padding: 15px;
  /* width: 700px;
  height: 25px; */
  width: 100%;
  border: solid 5px black;
}
button:hover {
  color: black;
  background-color: white;
}
.free-shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(61, 57, 57);
  margin-bottom: 20px;
  float: right;
}
.more-info:link {
  color: black;
  margin-bottom: 20px;
}

.more-info:hover {
  color: black;
}
ul {
  margin-left: 21px;
}
.details-list li {
  margin-bottom: 10px;
}

/* h2::before {
  content: "SALE";
  background-color: red;
  display: inline-block;
  top: -10px;
  padding: 6px 23px;
  position: absolute;
  left: -39px;
  top: -14px;
  font-size: 20px;
} */
.rectangle-box {
  background-color: red;
  height: 39px;
  width: 35px;
  position: absolute;
}

rectangle-box-blue {
  background-color: rgb(0, 17, 255);
  height: 39px;
  width: 35px;
  position: absolute;
}
.sale {
  text-transform: uppercase;
  background-color: red;
  color: #fff;
  font-weight: bold;
  padding: 7px 15px;
  display: inline-block;
  font-size: 12px;
  position: absolute;
  top: -17px;
  left: -34px;
  letter-spacing: 2px;
}
.colors {
  margin-top: 10px;
}
.color {
  background-color: black;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
}
.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}
.color-green {
  background-color: rgb(0, 255, 149);
}
.color-orenge {
  background-color: orange;
}
.color-yellowgreen {
  background-color: yellowgreen;
}
.color-navy {
  background-color: navy;
}
.clear-fix {
  content: "";
  display: block;
  clear: both;
}
