.flex-container {
  display: flex;
  background-color: DodgerBlue;
  border: 2px solid black;
}
.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.flex-container-direction-column {
  display: flex;
  background-color: DodgerBlue;
  flex-direction: column;
  border: 2px solid black;
}
.flex-container-direction-column > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 100px;
  line-height: 75px;
  text-align: center;
}
.flex-container-direction-column-reverse {
  display: flex;
  background-color: DodgerBlue;
  flex-direction: column-reverse;
  border: 2px solid black;
}
.flex-container-direction-column-reverse > div {
  margin: 10px;
  padding: 20px;
  background-color: #f1f1f1;
  width: 100px;
  text-align: center;
  font-size: 30px;
  line-height: 75px;
}
.flex-container-direction-row {
  display: flex;
  flex-direction: row;
  background-color: blue;
  border: 2px solid black;
}
.flex-container-direction-row > div {
  width: 100px;
  line-height: 70px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #f1f1f1;
}
.flex-container-direction-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  background-color: blue;
  border: 2px solid black;
}
.flex-container-direction-row-reverse > div {
  width: 100px;
  line-height: 70px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  background-color: #f1f1f1;
}
.flex-container-flex-wrap {
  display: flex;
  background-color: green;
  flex-wrap: wrap;
  border: 2px solid black;
}
.flex-container-flex-wrap > div {
  width: 150px;
  line-height: 70px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  background-color: #f1f1f1;
}
.flex-container-flex-nowrap {
  display: flex;
  background-color: red;
  flex-wrap: nowrap;
  border: 2px solid black;
}
.flex-container-flex-nowrap > div {
  width: 150px;
  line-height: 70px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  background-color: #f1f1f1;
}
.flex-container-flex-wrap-reverse {
  display: flex;
  background-color: yellow;
  flex-wrap: wrap-reverse;
  border: 2px solid black;
}
.flex-container-flex-wrap-reverse > div {
  width: 150px;
  line-height: 70px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  background-color: #f1f1f1;
}
.flex-container-justify-content-center {
  display: flex;
  justify-content: center;
  background-color: darkslategray;
}
.flex-container-justify-content-center > div {
  width: 100px;
  margin: 10px;
  padding: 20px;
  line-height: 70px;
  text-align: center;
  font-size: 30px;
  background-color: #f1f1f1;
}

.flex-container-justify-content-flex-start {
  display: flex;
  justify-content: flex-start;
  background-color: teal;
}
.flex-container-justify-content-flex-start > div {
  width: 100px;
  margin: 10px;
  line-height: 70px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  background-color: #f1f1f1;
}
.flex-container-justify-content-flex-end {
  display: flex;
  justify-content: flex-end;
  background-color: tomato;
}
.flex-container-justify-content-flex-end > div {
  width: 100px;
  line-height: 70px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #f1f1f1;
}
.flex-container-justify-content-space-around {
  display: flex;
  justify-content: space-around;
  background-color: yellowgreen;
}
.flex-container-justify-content-space-around > div {
  width: 100px;
  line-height: 70px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #f1f1f1;
}
.flex-container-justify-content-space-between {
  display: flex;
  justify-content: space-between;
  background-color: wheat;
}
.flex-container-justify-content-space-between > div {
  width: 100px;
  line-height: 70px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #f1f1f1;
}
.flex-container-align-items-center {
  display: flex;
  height: 200px;
  background-color: aquamarine;
  align-items: center;
}
.flex-container-align-items-center > div {
  width: 100px;
  line-height: 70px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #f1f1f1;
}
.flex-container-align-items-flex-start {
  display: flex;
  height: 200px;
  align-items: flex-start;
  background-color: blueviolet;
}
.flex-container-align-items-flex-start > div {
  width: 100px;
  line-height: 70px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #f1f1f1;
}
.flex-container-align-items-flex-end {
  display: flex;
  align-items: flex-end;
  height: 200px;
  background-color: cadetblue;
}
.flex-container-align-items-flex-end > div {
  width: 100px;
  line-height: 70px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

.flex-container-align-items-stretch {
  display: flex;
  height: 200px;
  align-items: stretch;
  background-color: darkblue;
}
.flex-container-align-items-stretch > div {
  width: 100px;
  line-height: 70px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #f1f1f1;
}
.flex-container-align-items-baseline {
  display: flex;
  height: 200px;
  align-items: baseline;
  background-color: darkred;
}
.flex-container-align-items-baseline > div {
  width: 100px;
  line-height: 70px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #f1f1f1;
}
.flex-container-align-content-space-between {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: crimson;
}
.flex-container-align-content-space-between > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.flex-container-align-content-space-around {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: space-around;
  background-color: deeppink;
}
.flex-container-align-content-space-around > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.flex-container-align-content-stretch {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: stretch;
  background-color: forestgreen;
}
.flex-container-align-content-stretch > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.flex-container-align-content-center {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: center;
  background-color: mediumorchid;
}
.flex-container-align-content-center > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.flex-container-align-content-flex-start {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: royalblue;
}
.flex-container-align-content-flex-start > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.flex-container-align-content-flex-end {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: flex-end;
  background-color: silver;
}
.flex-container-align-content-flex-end > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.flex-container-align-content-justify-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: rgb(44, 132, 167);
}
.flex-container-align-content-justify-content-center > div {
  background-color: #f1f1f1;
  color: white;
  width: 100px;
  height: 100px;
}
.flex-container-item {
  display: flex;
  background-color: slategray;
}
.flex-container-item > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.flex-container-item-order {
  display: flex;
  align-items: stretch;
  background-color: sienna;
}
.flex-container-item-order > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.flex-container-flex-grow {
  display: flex;
  align-items: stretch;
  background-color: violet;
}
.flex-container-flex-grow > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.flex-container-flex-shrink {
  display: flex;
  align-items: stretch;
  background-color: rgb(221, 224, 50);
}
.flex-container-flex-shrink > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.flex-container-flex-basis {
  display: flex;
  align-items: stretch;
  background-color: rgb(42, 82, 109);
}
.flex-container-flex-basis > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.flex-container-flex-grow-flex-shrink-flex-basis {
  display: flex;
  align-items: stretch;
  background-color: rgb(30, 189, 99);
}
.flex-container-flex-grow-flex-shrink-flex-basis > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.flex-container-align-self {
  display: flex;
  height: 200px;
  background-color: snow;
}
.flex-container-align-self > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
