* {
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-container-grid-column-gap {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: blue;
  padding: 10px;
  grid-column-gap: 50px;
}
.grid-container-grid-row-gap {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: chartreuse;
  padding: 10px;
  grid-row-gap: 50px;
}
.grid-container-grid-gap {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: crimson;
  padding: 10px;
  grid-gap: 50px 50px;
}

.grid-container-grid-column-start-end {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #2159f3;
  padding: 10px;
}
.grid-container-grid-column-start-end > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.grid-item-column-start-end1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
